# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Jupyter
.ipynb_checkpoints/

# Local data & artifacts
data/gtfs/
data/artifacts/
app/data/tt_by_origin.parquet

# Build/egg-info created by editable installs
*.egg-info/
src/*.egg-info/
dist/
build/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local caches / large raw
data/gemeinden_cache.geojson
data/gtfs/**
data/artifacts/**

# Local caches / large raw
data/gemeinden_cache.geojson
data/gtfs/**
data/artifacts/**
